{{!-- Edit Information --}}
<section class="edit-record">
  <h1 class="title p-3">{{title}}</h1>
  <div class="form-container">
    <form method="POST" enctype="multipart/form-data">
      <fieldset>
        {{! input name and id must match field name in model class }}
        <label for="country">Country</label>
        <input
          type="text"
          name="country"
          id="country"
          value="{{project.country}}"
          required
        />
      </fieldset>
      <fieldset>
        <label for="city">City</label>
        <input
          type="text"
          name="city"
          id="city"
          value="{{project.city}}"
          required
        />
      </fieldset>
      <fieldset>
        <label for="dueDate">visit Date</label>
        <input
          type="date"
          name="visitDate"
          id="visitDate"
          value="{{toShortDate project.visitDate}}"
          required
        />
      </fieldset>
      <fieldset>
        <label for="course">Stars</label>
        <input
          type="number"
          id="stars"
          name="stars"
          min="0"
          max="5"
          step="1"
          value="{{project.stars}}"
          required
        />
      </fieldset>
      <fieldset>
        <label for="image">Change Image (optional)</label>
        <input type="file" name="image" id="image" accept="image/*" />
        {{!-- handle to show the current image --}}
        {{#if project.imageUrl}}
          <p class="text-white">Current image:</p>
          <img
            src="{{project.imageUrl}}"
            alt="Current Image"
            style="max-width: 100%;"
          />
        {{/if}}
      </fieldset>
       <fieldset class="form-group">
        <label>Location Preview</label>
        <div id="map" style="height: 300px; border: 1px solid #ccc;"></div>
      </fieldset>

        <fieldset class="form-group">
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            rows="5"
            placeholder="Enter a detailed description"
            required
          >{{project.description}}</textarea>
        </fieldset>

      </fieldset>
      {{! Add button to trigger the POST event }}
      <button class="offset-3 btn btn-success">Update</button>
      <a href="/projects" class="btn btn-primary ms-3">Go Back</a>
    </form>
  </div>
</section>